/* All formatting will be done here */

.background {
    background-color: rgb(26, 26, 26);
    background-image: linear-gradient(rgb(62, 110, 173), rgba(121, 203, 228, 0));
    background-attachment: fixed;
}

.main-logo {
    width: 35%;
    height: 35%;
    background-color: rgba(83, 83, 83, 0.884);
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 100px auto auto;
    text-align: center;
    border-radius: 8%;
    border-color: antiquewhite;
    border-width: 5px;
    border-style: outset;
}

.main-title {
    text-align: center;
    font-weight: bold;
    color: rgb(238, 238, 238);
}